.cartTitle {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.cartSection {
  background-color: #f8f8f8;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}

.cartContainer {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.cartCardLink {
  color: #000000;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.productImage img {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  margin-right: 20px;
}

.productDetails {
  flex: 1;
}

.productName {
  margin: 15px 0;
}

.quantityControl {
  margin: 20px 0;
  display: flex;
}

span.quantity {
  margin-left: 15px;
}

.quantityBtn {
  font-size: 16px;
  padding: 5px 10px;
}

.productPrice {
  margin-top: 20px;
}

.deleteBtnSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deleteBtn {
  background-color: #ff5f5f;
  color: #fff;
  outline: transparent;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 0.9rem;
  margin: 15px 0;
  cursor: pointer;
}

hr {
  margin: 20px 0;
  border: 1px solid #ddd;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotalText,
.totalAmtText {
  font-size: 1.1rem;
  font-weight: bold;
}

.subtotalAmount,
.totalAmt {
  font-size: 1.1rem;
  font-weight: bold;
}

.totalAmt {
  width: 45%;
  margin: 10px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutBtn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}
