.sortSection{
    width: 93%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
}

.sortProducts{
  padding: 10px 20px;
  outline: transparent;
  cursor: pointer;
  color: #5f5f5f;
  border: 1px solid #5f5f5f;
  margin-right: 2px;
}

.sortOption {
  color: #5f5f5f;
}