.productsListSection {
  width: 100%;
}
.productList {
  width: 95%;
  max-width: 95%;
  margin: 0px auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.productCard {
  width: 400px;
  height: 450px;
  margin-top: 60px;
  background-color: #f1f2f4;
}

.prodImg {
  max-width: 280px;
  max-height: 280px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.cardCategory {
  text-transform: uppercase;
  color: #6b6b6b;
  margin-top: 10px;
  font-size: 0.9rem;
  font-family: serif;
}

.cardTitle {
  color: #000000;
  font-weight: 400;
  margin-top: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardPrice {
  margin-top: 7px;
  font-size: 1.1rem;
  color: #366699;
  font-weight: 900;
  font-family: serif;
}
