@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.productsListSection {
  width: 100%;
}
.productList {
  width: 95%;
  max-width: 95%;
  margin: 0px auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.productCard {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodImg {
  max-width: 280px;
  max-height: 280px;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: darken;
  border-radius: 2px;
}

.cardTitle {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 6px;
  font-family: "Lora", serif;
  text-align: center;
}

.cardPrice {
  margin-top: 10px;
  font-family: "Lora", serif;
  text-align: center;
  color: #000000;
  font-weight: 600;
}
