
.subscriptionParent{
    background-color: #366699;
    color: #ffffff;
}

.subscriptionSection{
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSide{
    display: flex;
    align-items: center;
    gap: 13px;
}

.subTitle{
    font-size: 1rem;
    font-weight: 600;
}

.subInfo{
    font-size: .9rem;
    margin-top: 3px;
}

.emailIcon{
    font-size: 3rem;
}

.rightSide{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.subEmail{
    padding: 13px 2px;
    outline: transparent;
    width: 100%;
}

.sub-button {
  display: flex;
  align-items: center;
  background-color: #353535;
  color: #ffffff;
  padding: 10px 15px;
  font-size: .8rem;
  cursor: pointer;
}
