nav {
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
}

.navSection {
  width: 95%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.navItem{
  color: #222222;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.navItem:hover{
  color: #7e7e7e;
  border-bottom: 3px solid #EB7025;
}

.navIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navIcon{
  font-size: 1.4rem;
  color: #222222;
  cursor: pointer;
}