@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

nav {
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
}

.navSection {
  width: 95%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000000 !important;
  font-size: 3.3rem;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.navItem {
  color: #222222;
  font-weight: 600;
  font-family: "Open Sans";
  font-size: 0.9rem;
  text-transform: uppercase;
}

.navItem.active {
  color: #7e7e7e;
  border-bottom: 3px solid #eb7025;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navIcon {
  font-size: 1.4rem;
  color: #000000;
  cursor: pointer;
}
